<div class="b-dropdown" ng-class="{state_expanded: listExpanded}">
    <div class="b-dropdown-button" ng-click="toggleList(!listExpanded)">{{ selected }}</div>
    <div class="b-dropdown-list">
        <div class="b-dropdown-item" ng-click="setSelected(item)" ng-repeat="item in list"
             ng-class="{state_active: item && item === selected, state_hover: isHovered($index)}"
             ng-mouseenter="setHoverIndex($index)">
            {{ item }}<i></i>
        </div>
    </div>
</div>